html
{
    margin: 0;
    padding: 0;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


.nav
{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(69, 91, 131);
}

.nav .logo img
{
    width: 70%;
    margin-left: 60px;  
}

.nav ul
{
    display: inline-flex;
    margin-right: 20%;
    margin-top: 30px;
    margin-left: 5px;
   
}

.nav ul li
{
    
    list-style: none;
    margin-left: 15%;
    
}

.nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.nav ul li a:hover
{
    
    color:rgb(252, 78, 107);

}

#button button
{
    margin-right: 100px;
    margin-top: 25px;
    padding: 2px;
    border: none;
    border-radius: 20px;
    width: 130px;  
    height: 35px;
    background-color: rgb(125, 185, 235);
    color: white;
}

#button button:hover
{
    background-color:rgb(252, 78, 107);

}

#tech-section
{
  background-color: rgb(69, 91, 131);
  height: 420px;

}


.tech-text
{
    margin-top: 15%;
    margin-left: 12%;
  
}

.tech-text h1{
  color: white;
  
}

.tech-text p{
  color: rgb(214, 215, 218);
  font-size: 30px;
 
}

.row .col-md-3 .buttn1
{
  
  margin-top: 25px;
  border-radius: 20px;
  border: none;
  width: 130px;
  height: 38px;
  background-color:rgb(93, 150, 226);
  padding: 5px;
  color: white;
  font-weight: bold;

}

.icon-play{
  padding-top: 10%;
}

.outer-icon{
  background-color: white;
  width: 35px;
  height:35px ;
  border-radius: 50px;
  align-content: center;
}

.inner-icon{
  background-color: rgb(69, 91, 131);
  width: 30px;
  height:30px ;
  border-radius: 50px;
  margin-left: 2.5px;
  align-content: center;
}

.inner-icon span{
  color: white;
  margin-left: 10px;
}

.icon-text span{
  font-weight: bold;
  display: block;
  padding-top: 5px;
  color:white;
  margin-top: 25px;
}

.tech-img{
    margin-top: -20px;
    margin-left: 10%;
    
}

.tech-img img{
  width: 80%;
}



#advertise-section{
 
  background-color: rgb(243, 241, 241);
  height: 60px;
 
}

.ads{
  padding-top: 10px;
  padding-left: 10%;
}


 .ads img{
  width: 40px;
  
}


#about-section{
  width: 100%;
  height: 330px;
  margin-top: 3%;

}

.about h1{
  color:rgb(69, 91, 131);
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 20px;
}


.about .first{

  margin-left: 5%;
}

.about .first p{
  font-size: 18px;
}

.about .first li{
  list-style: none;
  margin-top: 5px;
}

.about .first li i{
  font-size:20px;
  color: rgb(18, 14, 243);
}

.about .second {
  margin-left: 5%;
}

.about .second p{
  font-size: 18px;
}



#Three-section{
 
  height: 420px;
  background-color: rgba(241, 238, 238, 0.726);

}

.cont-Three{
  width: 100%;
  padding: 40px 20px 10px 40px;
}

.cont-Three h2{
  color: rgb(81, 81, 131);
  font-size:30px ;
}

.list{
  height: 50px;
  background-color: white;
  margin: 10px 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.list span{
  display: inline-flex;
  padding: 10px 2px 10px 2px;
  margin-left: 20px;
  font-weight: bolder;
}

.list span:nth-child(1){
  color: rgb(128, 128, 247);
  font-size: 18px;
}

.list span:nth-child(2){
  color: rgb(81, 81, 131);
}

.list span:nth-child(2):hover
{
  color:rgb(128, 128, 247);
}

.cont-Three .img img{
  width: 100%;
  margin-left: 10%;
}


#percentage-section{
  height: 440px;
  background-color: white;
}

.percentages{
  padding-top: 30px;
}

.percentages p{
  font-size: 18px;
}

.percent-img img{
  width: 60%;
  margin-left: 10%;
  margin-top: 10%;
}


.percent{
  margin: 20px  10px ;
}


.title{
  display: inline-flex;
  width: 100%;
}

.title span{
  font-size: 12px;
  font-weight:700;
}

.spacer{
  width: 100%;
}

.bar-grey{
  background-color: rgb(190, 188, 188);
  width: 100%;
  height: 10px;
}

.html .bar-darkblue{
  background-color:#1d3053;
  width:100%;
  height: 10px;
}

.css .bar-darkblue{
  background-color:#1d3053;
  width:90%;
  height: 10px;
}

.javascript .bar-darkblue{
  background-color:#1d3053;
  width:75%;
  height: 10px;
}

.python .bar-darkblue{
  background-color:#1d3053;
  width:55%;
  height: 10px;
}

#services-section{
  height: 520px;
  width: 100%;
  padding-top: 4%;
  background-color: hsla(0, 10%, 94%, 0.726);
}

.service-title {
  display: block;
}

.service-title h1{
  color:rgb(69, 91, 131);
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.service-title p{
  text-align: center;
  padding-top: 20px;
  font-size:18px ;
}

.services .row{
  padding-top:40px ;
  margin: 0px 50px 0px 50px;
}
 .service-info{
  background-color: white;
  height: 280px;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.service-info:hover{
  margin: 10px 0px;
  transform:scale(1.1);
}
.service-info span{
  display: block;
  color: hsl(240, 83%, 73%);
  font-size: 30px;
  padding-top: 18%;
  margin: 0px 20px 0px 20px;
}
.service-info h5{
  margin: 0px 20px 0px 20px;
  color: rgb(69, 91, 131);
  padding-top: 10px;
  font-weight: bold;
}

.service-info h5:hover{
  color:hsl(240, 83%, 73%) ;
}

.service-info p{
  margin: 0px 20px 0px 20px;
  padding-top: 10px;
}

















